<section>
  <h1>Shopping List</h1>
  <div>
      <p>Amount of food items to buy: <%= @shopping_list.length %></p>
      <p>Total value of food needed: $<%= @total_cost %></p>
  </div>
  <table>
      <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
      <tbody>
          <% @shopping_list.each do |item| %>
          <tr>
              <td><%= item[:name] %></td>
              <td><%= item[:quantity] %></td>
              <td>$<%= item[:price] %></td> <!-- Display price for each item -->
          </tr>
          <% end %>
      </tbody>
  </table>.
</section>
