<h1 class="display-1 text-center font-weight-bold">
  Public Recipes
</h1>

    <% @public_recipes.each do |recipe| %>
      <div class="card mb-4 d-flex flex-row">
        <div class="d-flex flex-column m-5 col-3">
          <h2 class="card-title">
            <%= link_to recipe.name, recipe_path(recipe) %>
          </h2>
        <p>By: <%= recipe.user.name %></p>
        <% if can? :destroy, recipe %>
          <%= button_to 'Delete', recipe, method: :delete, class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
      <div class="d-flex flex-column m-5 col-3">
        <h2 class="card-title">
          Total Food Items: <%= recipe.recipe_foods.sum(:quantity) %>
        </h2>
        <p>
          Total Price: <%= number_to_currency(recipe.recipe_foods.joins(:food).sum('foods.price'), unit: '$') %>
        </p>
      </div>
    </div>
  <% end %>